# =========================
# Virtual Environments
# =========================
.venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Raw Data (DO NOT PUSH CSVs)
# =========================
data/01-raw/*.csv
data/01-raw/*.zip

# =========================
# Predictions / Outputs
# =========================
data/04-predictions/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc

# =========================
# Models
# =========================
*.pkl
*.joblib

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Preprocessed data (do not push)
# =========================
data/02-preprocessed/*.csv

